<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="logo">
        <img src="/assets/images/TuSegundazo.com.png" alt="">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img src="/assets/images/banner.jpeg" alt="">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8">
      <app-listat-vehiculos></app-listat-vehiculos>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="footer">
        <p>Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
