/* You can add global styles to this file, and also import other style files */
.logo{
  padding: 20px 0 0;
}
.banner img{
  max-width: 100%;
}
.footer{
  margin-top: 50px;
}
.footer p{
  text-align: center;
}

